@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-nexus-bg text-nexus-text;
  }

  ::-webkit-scrollbar {
    width: 6px;
  }
  ::-webkit-scrollbar-track {
    @apply bg-nexus-bg;
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-nexus-border rounded-full;
  }
}

@layer utilities {
  .animate-pulse-fast {
    animation: pulse 1s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  }
}
